<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Latest Workout -->
  <ion-card *ngIf="latestWorkout">
    <ion-card-header>
      <ion-card-title>Latest Workout</ion-card-title>
      <ion-card-subtitle
        >{{ latestWorkout.title }} - {{ latestWorkout.date | date: 'medium'
        }}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let ex of latestWorkout.exercises">
          <ion-label>
            {{ ex.name }}: {{ ex.sets }}x{{ ex.reps }} at: {{ ex.weight }} lbs
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Total Weight Lifted (Chart) -->
      <ion-card-subtitle>Total Weight Lifted</ion-card-subtitle>
      <ng-container
        *ngIf="weightChartData?.datasets?.[0]?.data?.length; else noData"
      >
        <canvas
          baseChart
          [data]="weightChartData"
          [options]="chartOptions"
          [type]="'line'"
          height="300"
        >
        </canvas>
      </ng-container>

      <ng-template #noData>
        <p class="no-data-msg">No workout data available yet.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- Show All Workouts Modal -->
  <ion-card>
    <ion-card-content>
      <ion-button id="open-workouts-modal" expand="block"
        >Show All Latest Workouts</ion-button
      >

      <ion-modal #modal trigger="open-workouts-modal" expand="block">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>Workout History</ion-title>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="modal.dismiss()"
                  >Close</ion-button
                >
              </ion-buttons>
            </ion-toolbar>

            <ion-card class="ion-no-margin">
              <ion-card-content>
                <ion-list>
                  <ng-container *ngFor="let workout of workouts">
                    <ion-item
                      lines="none"
                      (click)="openWorkoutDetails(workout)"
                    >
                      <ion-label class="ion-text-wrap">
                        <strong>{{ workout.title }}</strong><br />
                        {{ workout.date | date: 'MMM d, yyyy' }}
                      </ion-label>
                    </ion-item>
                  </ng-container>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-content> </ng-template
        >>
      </ion-modal>
    </ion-card-content>
  </ion-card>

  <!-- Workout Consistency Chart -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Workout Consistency</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas
        baseChart
        [data]="consistencyChartData"
        [options]="chartOptions"
        [type]="'bar'"
      >
      </canvas>
    </ion-card-content>
  </ion-card>

  <!-- Latest Body Metric -->
  <ion-card *ngIf="latestMetric">
    <ion-card-header>
      <ion-card-title>Latest Body Metric</ion-card-title>
      <ion-card-subtitle
        >{{ latestMetric?.date | date: 'MMM d, yyyy' }}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <p><strong>Weight:</strong> {{ latestMetric.weight }} kg</p>
      <p><strong>Height:</strong> {{ latestMetric.height }} cm</p>
      <p><strong>Dots:</strong> {{ latestMetric.dots | number:'1.1-2' }}</p>

      <ion-card-subtitle>Weight Progress</ion-card-subtitle>
      <canvas
        baseChart
        [data]="bodyChartData"
        [options]="chartOptions"
        [type]="'line'"
      >
      </canvas>
    </ion-card-content>
  </ion-card>

  <!-- Show All Body Metrics Modal -->
  <ion-card>
    <ion-card-content>
      <!-- Button -->
      <ion-button id="trigger-bodymetrics-modal" expand="block"
        >Show All Body Metrics</ion-button
      >

      <!-- Modal -->
      <ion-modal trigger="trigger-bodymetrics-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>BodyMetrics History</ion-title>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="closeModal()"
                  >Close</ion-button
                >
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item *ngFor="let metric of bodyMetrics">
                <ion-label class="ion-text-wrap">
                  <strong>{{ metric.date | date: 'MMM d, yyyy' }}</strong><br />
                  Weight: {{ metric.weight }} kg<br />
                  Height: {{ metric.height }} cm<br />
                  Dots: {{ metric.dots | number:'1.1-2' }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>

  <!-- Active Goals -->
  <ion-card *ngIf="activeGoals.length">
    <ion-card-header>
      <ion-card-title>Active Goals</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let goal of activeGoals">
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <strong>{{ goal.title }}</strong><br />
              Target: {{ goal.targetValue }} {{ goal.unit }}<br />
              Deadline: {{ goal.deadline | date: 'MMM d, yyyy' }}
            </ion-label>
          </ion-item>

          <div class="goal-progress-wrapper">
            <ion-progress-bar
              [value]="getGoalProgress(goal)"
              color="success"
              class="goal-progress-bar"
            ></ion-progress-bar>
            <p class="progress-percent">
              {{ getGoalProgress(goal) * 100 | number: '1.0-0' }}%
            </p>
          </div>
        </ng-container>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Show All Goals Modal -->
  <ion-card>
    <ion-card-content>
      <!-- Button -->
      <ion-button id="trigger-goals-modal" expand="block"
        >Show All Goals</ion-button
      >

      <!-- Modal -->
      <ion-modal trigger="trigger-goals-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Goals History</ion-title>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="closeModal()"
                  >Close</ion-button
                >
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item *ngFor="let goal of goals">
                <ion-label>
                  <strong>{{ goal.title }}</strong><br />
                  {{ goal.targetValue }} {{ goal.unit }}<br />
                  {{ goal.deadline | date: 'MMM d, yyyy' }} <br />
                  {{ goal.isCompleted ? 'Completed' : 'In Progress' }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
</ion-content>
