<ion-header>
  <ion-toolbar>
    <ion-title>Progress Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="submitMetric()">
    <ion-item>
      <ion-label class="section-label">Date</ion-label>
      <ion-datetime
        display-format="MMM d, yyyy"
        presentation="date"
        [(ngModel)]="metric.date"
        name="date"
        locale="en-US"
        prefer-wheel="true"
      ></ion-datetime>
    </ion-item>
    

    <ion-item>
      <ion-label position="floating">Weight (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="metric.weight" name="weight" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Height (cm)</ion-label>
      <ion-input type="number" [(ngModel)]="metric.height" name="height" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" color="primary">Add Metric</ion-button>
  </form>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Body Metrics Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas
        baseChart
        [data]="bodyChartData"
        [options]="chartOptions"
        [type]="'line'">
      </canvas>
    </ion-card-content>
  </ion-card>
  

  <ion-list *ngIf="metrics.length">
    <ion-item-divider>
      <ion-label>Tracked Metrics</ion-label>
    </ion-item-divider>

    <ion-card *ngFor="let m of metrics">
      <ion-card-header>
        <ion-card-title>{{ m?.date | date: 'MMM d, yyyy' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Weight:</strong> {{ m.weight }} kg</p>
        <p><strong>Height:</strong> {{ m.height }} cm</p>
        <p><strong>Dots:</strong> {{ m.dots | number:'1.1-2' }}</p>
        <ion-button color="danger" (click)="m._id && deleteMetric(m._id)">Delete</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
